<!--===STYLESHEETS===-->
<head>
<!-- MAIN STYLESHEET - INCLUDE ON EVERY PAGE -->
	<link rel="stylesheet" type="text/css" href="/rovia/support/SiteAssets/css/services.css"/> 

<!-- USE THIS FOR ADDITIONAL STYLES (OPTIONAL)-->
	<style></style>


</head>	
<body>
<!--==== End of STYLESHEETS ====-->


<!--=== MAIN CONTENT ===-->
<header>      
      <a class="topOfPage" name="top"></a>

      <div id="mySidenav" class="sidenav"><object id="innerNav" data="https://wvholdings.sharepoint.com/rovia/support/SiteAssets/partials/nav.aspx"></object> &#160;</div>
      <span id="navBookmark" onclick="openNav()"><i class="fas fa-bookmark text-primary"></i></span>
         
      <h1 class="display-3"> <i class="fas fa-suitcase" aria-hidden="true"></i>Airport Transfers<br/></h1> 

      <nav class="breadcrumbs-bookmarks">
         <div class="row">
            <div class="col">
              <ul class="breadcrumb">
                <li><a href="https://wvholdings.sharepoint.com/rovia/support/"><i class="fas fa-home"></i></a></li>
                <li><a href="https://wvholdings.sharepoint.com/rovia/support/service">Airport Transfers</a></li>
                <li aria-current="page">Airport Transfers</li>
              </ul>               
            </div>
			<div class="col">
				<ul class="bookmarks">
					<li><a href="#item1">Accessing Formstack</a></li>
					<li><a href="#item2">Locating the Flight Manifest</a></li>
					<li><a href="#item3">Troubleshooting</a></li>
					<li>​<a href="#related" class="related">Related Links</a></li>

				</ul>      
               
            </div>
         </div>

      </nav>

   </header>
	<main>
		

		<article>
		<!--=== ARTICLE CONTENT GOES HERE  ===-->					
			<p class="lead">
				Some lead text can go here.
			</p>
			<p>
				Escape to the enchanted Tafaria Castle and the 17,500-acre (7,082-hectare) Solio Game Reserve on an unforgettable Kenyan adventure. Nulla leo est, scelerisque eget tristique at, blandit nec libero. 
			</p>
		
				
			<!--===  ITEM 1  ===-->
			<a name="item1"></a>
			<section class="card">
				<div class="card-header bg-primary">
					<h2 class="card-title text-white">Accessing Formstack</h2>
				</div>
				<div class="card-body">
					<p>
						Support agents will occasionally be required to log into Formstack to confirm whether or not a member&#39;s flight details are listed on the manifest.  Each entry is stored in 
						<a href="https://roviallc.formstack.com/" target="blank">Formstack</a> and accessed through several different profiles, each with its own unique subdomain within Formstack.  They are as follows:
					</p>
					<table class="table table-sm table-striped">
					  <thead class="bg-primary text-white"> 
					     <tr> 
					        <th> 
					           <strong>URL</strong></th>
					        <th>Username</th>
					        <th>Password</th>
					     </tr> 
					  </thead>
					  <tbody>
					     <tr> 
					     </tr>
					     <tr>
					        <td> 
					           <a href="https://formstack.com/" target="blank">https://formstack.com</a></td>
					        <td>1. dreamtrips@rovia.com</td>
					        <td>rovia246</td>
					     </tr>
					     <tr>
					        <td> 
					           <a href="https://rovia-tkust.formstack.com/" target="blank">https://rovia-tkust.formstack.com</a></td>
					        <td>2. tmeans@rovia.com</td>
					        <td>Change01</td>
					     </tr>
					     <tr>
					        <td> 
					           <a href="https://rovia-dreamtrips.formstack.com/" target="blank">https://rovia-dreamtrips.formstack.com</a></td>
					        <td>3. sodohofre@rovia.com</td>
					        <td>rovia246</td>
					     </tr>
					     <tr>
					        <td> 
					           <a href="https://roviadreamtrips.formstack.com/" target="blank">https://roviadreamtrips.formstack.com</a></td>
					        <td>4. tadair@rovia.com</td>
					        <td> 
					           <span id="part1">Dream18</span></td>
					     </tr>
					     <tr>
					        <td> 
					           <a href="https://rovia-dreamtrips1.formstack.com/" target="blank">https://rovia-dreamtrips1.formstack.com</a></td>
					        <td>5. plane@rovia.com</td>
					        <td>rovia246</td>
					     </tr>
					     <tr>
					        <td> 
					           <a href="https://rovia-sufra.formstack.com/" target="blank">https://rovia-sufra.formstack.com/</a></td>
					        <td>6. ncarr@rovia.com</td>
					        <td>rovia246</td>
					     </tr>
					  </tbody>
					</table>
                    <h4>To determine the correct login for the transfer link: </h4>                     
					<ol>					  
					  <li>Locate the form link on the page of the DreamTrip in question.  (You can email this link to any member who needs assistance). 
					     <br/>
					     <a href="/rovia/cs/Pages/img/dt_transfers_01.png" data-toggle="lightbox"><img class="img-fluid screenshot" src="/rovia/cs/Pages/img/dt_transfers_01.png" alt=""/> </a></li>
					  <li>Hover your cursor over the link and in your browser&#39;s status bar you will see the URL.  We can tell from the below example that this URL corresponds with 
					     <strong>plane@rovia.com.</strong><br/><a href="/rovia/cs/Pages/img/dt_transfers_02.png" data-toggle="lightbox"><img class="img-fluid screenshot" src="/rovia/cs/Pages/img/dt_transfers_02.png" alt=""/> </a></li>
					  <li>Right click on the link to copy the URL and then past it into the address bar of your browser.<br/><a href="/rovia/cs/Pages/img/dt_transfers_03.png" data-toggle="lightbox"><img class="img-fluid screenshot" src="/rovia/cs/Pages/img/dt_transfers_03.png" alt=""/> </a></li> 
					  <li>Remove everything after &#39;.com&#39; and then proceed to the URL.  Now you are ready to log in with the corresponding credentials.<br/><a href="/rovia/cs/Pages/img/dt_transfers_04.png" data-toggle="lightbox"><img class="img-fluid screenshot" src="/rovia/cs/Pages/img/dt_transfers_04.png" alt=""/> </a></li>
					</ol>
	            </div>				
			</section>
					<br/><br/> 
					<a href="#top" role="button" class="top">
					<i class="fas fa-angle-up" aria-hidden="true"></i></a>
					<br/><br/><br/><br/>
			
			
			<!--===  ITEM 2  ===-->
			<a name="item2"></a>
			<section class="card">
				<div class="card-header bg-primary">
					<h2 class="card-title text-white">Locating the Flight Manifest</h2>
				</div>
				<div class="card-body">
					<ol>
                       <li>Log into Formstack using the above process. 
                          <br/><a href="/rovia/cs/Pages/img/dt_transfers_05.png" data-toggle="lightbox"><img class="img-fluid screenshot" src="/rovia/cs/Pages/img/dt_transfers_05.png" alt=""/> </a>
                      </li>
                       <li>
                       	Enter the DreamTrip number.&#39;in the search field under the Dashboard&#39; tab. 
                        <br/><a href="/rovia/cs/Pages/img/dt_transfers_06.png" data-toggle="lightbox"><img class="img-fluid screenshot" src="/rovia/cs/Pages/img/dt_transfers_06.png" alt=""/> </a>
                          <div class="alert alert-warning" role="alert">
                             <strong>Note: </strong> If you are unable to find a flight submission in one account, please check the other each profile to verify whether or not a submission has been made.
                         </div>
                       </li>
                       <li>
	                       	Once you&#39;ve located the correct form, click &#39;Submissions&#39; to see the list of entries on the transfer manifest.<br/><a href="/rovia/cs/Pages/img/dt_transfers_07.png" data-toggle="lightbox"><img class="img-fluid screenshot" src="/rovia/cs/Pages/img/dt_transfers_07.png" alt=""/> </a> 
	                          <div class="alert alert-info" role="alert">
		                         <strong>Note: </strong>From this screen, you can also generate a link to the form which can be emailed to the member (in case you forgot to do it earlier!).<br/><a href="/rovia/cs/Pages/img/dt_transfers_10.png" data-toggle="lightbox"><img class="img-fluid screenshot" src="/rovia/cs/Pages/img/dt_transfers_10.png" alt=""/> </a><br/> 
		                     </div>
                       </li>
                       <li>
							You will see the transfer manifest, listed by Date Submitted, Dember ID, Order ID, Email and Phone Number.<br/>
							<a href="/rovia/cs/Pages/img/dt_transfers_08.png" data-toggle="lightbox">
								<img class="img-fluid screenshot" src="/rovia/cs/Pages/img/dt_transfers_08.png" alt=""/>
							</a>
                       </li> 
                       <li>
							On this screen you are able to resend notifications to members, or edit the entry<sup>*</sup>.<br/>
							<a href="/rovia/cs/Pages/img/dt_transfers_09.png" data-toggle="lightbox">
								<img class="img-fluid screenshot" src="/rovia/cs/Pages/img/dt_transfers_09.png" alt=""/>
							</a><br/>
							<div class="alert alert-danger" role="alert">
								<strong><sup>*</sup>IMPORTANT </strong>DO NOT make any edits to an entry<strong> after</strong> the transfer deadline, as it will not be received by the transfer company!!!
							</div> 
                       </li>
                    </ol>
				</div>
			</section>
					<br/><br/> 
					<a href="#top" role="button" class="top">
					<i class="fas fa-angle-up" aria-hidden="true"></i></a>
					<br/><br/><br/><br/>
			
			
			<!--===  ITEM 3  ===-->
			<a name="item3"></a>
			<section class="card">
				<div class="card-header bg-primary">
					<h2 class="card-title text-white">Troubleshooting</h2>
				</div>
				<div class="card-body">
					<h3>Reactivating an Expired Airport Transfer Form</h3> 
					<p>
						If a transfer form is not set up correctly in Formstack, the link will expire prematurely. In this case you will need re-activate an expired airport transfer form<sup>*</sup>.
					</p>
                    <div class="alert alert-warning" role="alert">
						<strong>Note: </strong>Use this process 
						<strong>ONLY</strong>if the deadline has not yet passed.  If the deadline has passed, members may arrange their own transportation and submit the receipt for compensation in the form of DT Points.
                    </div>
					<strong>Once the issue is identified:</strong>	
					<ol>
                       <li> Check the deadline listed under the &#39;What&#39;s Included&#39; tab on 
                          <a href="http://dreamtrips.com/" target="blank">Dreamtrips.com</a>, or in the confirmation email showing in 
                          <a href="http://callcenter.wvhservices.com/Account/LogOn?ReturnUrl=%2f" target="blank">Fortius.</a>  Proceed 
                          <strong>ONLY </strong>if the deadline has not yet passed. </li> 
                       <li>
                          <a href="#Accessing">Log into Formstack</a> and 
                          <a href="#Locating">locate the correct form</a>.  Click under &#39;Settings,&#39; locate the field labled &#39;Disable Form&#39; and change the Date and Time to two days after the actual deadline (for time zone purposes). 
                          <strong>(ie, if a deadline is on July 28, the Disable time should be July 30 12am).</strong><br/><a href="/rovia/cs/Pages/img/dt_transfers_11.png" data-toggle="lightbox"><img class="img-fluid screenshot" src="/rovia/cs/Pages/img/dt_transfers_11.png" alt=""/> </a> </li>
                       <li> The form will update automatically and the link will remain the same.  You can use the same URL link to send to members. </li>
                       <li> Notate 
                          <a href="http://callcenter.wvhservices.com/Account/LogOn?ReturnUrl=%2f" target="blank">Fortius</a> stating that the form has been updated to reflect the correct date.  Also note that airport transfer information as manually been submitted (if applicable). </li>
                    </ol>
                    <h3>Creating a Formstack Link<sup>*</sup></h3>
                    <div class="alert alert-warning" role="alert">
	                   <strong>Note: </strong>This process is is 
	                   <ul>
	                      <li>For 
	                         <strong>Supervisors only</strong></li>
	                      <li>For 
	                         <strong>after DreamTrips business hours only</strong></li>
	                      <li> 
	                         <strong>Only</strong> if there is 
	                         <strong>no Formstack link available</strong> in 
	                         <strong>any</strong> of the 6 Formstack profiles.</li>
	                   </ul>
                    </div>
                    <ol>
	                   <li> 
	                      <a href="#Accessing">Log into Formstack.</a></li>
	                   <li>Search by the DreamTrip number (to ensure you are not duplicating the link). </li> 
	                   <li>If nothing is found, type &#39;Master&#39; into the search box.</li>
	                   <li>Click the checkbox on the right to select the applicable template.</li>
	                   <li>Click &#39;Copy&#39; and select &#39;My Account.&#39;</li>
	                   <br/>
	                   <a href="/rovia/cs/Pages/img/dt_transfers_12.png" data-toggle="lightbox"><img class="img-fluid screenshot" src="/rovia/cs/Pages/img/dt_transfers_12.png" alt=""/> </a>
	                   <li>Search for &#39;Copy&#39; to locate and select the newly created form.  Select &#39;Build.&#39;</li>
	                   <li>Update the title form with format: 
	                      <strong>Trip Number/Destination City/Number 
	                         <a href="#Accessing">corresponding with each login</a>.</strong>
	                      <ul>
	                         <li> 
	                            <strong>Example</strong>: 1701080_miami(6) for a form under the profile for ncarr@rovia.com.</li>
	                      </ul> 
	                   </li>
	                   <li> Check for the transfer deadline (from What&#39;s Included or the confirmation email). </li>
	                   <li> This date will be added to the Disable form box (add two additional days for time zone purposes) This date will determine when the link will no longer be accesssible to members. </li>
	                   <li> The message box will also need to be updated with the correct date listed on dreamtrips.com as the final submission date </li>
	                   <li> Update the confirmation email, choose the Emails &amp; Redirects Tab at the top left corner of the webpage. </li>
	                   <li> Review the confirmation email by clicking on the &#39;Send Test Email&#39; line </li>
	                   <li> Click &#39;save&#39; to record changes </li>
	                   <li> Click &#39;Publish&#39; for the URL link </li>
	                   <li> Click on the link in order to preview the page and ensure there are no corrections which need to be made. </li>
	                </ol>
	                <h3>Adding a Formstack Link to DreamTrips.com<sup>*</sup></h3>
					<div class="alert alert-warning" role="alert">
                       <strong>Note: </strong>This process is is 
						<ul>
							<li>
								For <strong>Supervisors only</strong>
							</li>
							<li> For 
								<strong>after DreamTrips business hours only</strong>
							</li>
							<li>
								<strong>Only</strong> if there is 
								<strong>no Formstack link available</strong> in 
								<strong>any</strong> of the 6 Formstack profiles.
							</li>
						</ul>
                    </div>
                    <ol>
	                   <li> Log into 
	                      <a href="http://admin.wvhservices.com/SignIn.aspx" target="blank">Fortius Admin.</a> </li>
	                   <li> Click &#39;Products&#39; followed by &#39;Packages&#39; </li>
	                   <li> Enter the DT # in the search box, click enter, and select the trip from the list. </li>
	                   <li> Click &#39;Content Details&#39; </li>
	                   <li> This will produce the Description (Short, detail &amp; what&#39;s included) text boxes. Locate the &quot;Click Here&quot; (There are multiple location where it may be found, i.e. What&#39;s Included, Platinum Inclusions, or Transportation) SCROLL DOWN </li>
	                   <li> Click on the Edit Icon (Notepad with a pencil) </li>
	                   <li> Locate the words &quot;Click Here&quot; and highlight with your cursor </li>
	                   <li> Click on the Hyper Link Icon from the tool bar (Globe with chain link in tact not broken) </li>
	                   <li> Return to Formstack, Copy the URL </li>
	                   <li> Return to Fortius and paste the link into the URL Box </li>
	                   <li> Select New Window from the drop down box from the Target Box </li>
	                   <li> Click &#39;OK.&#39; </li>
	                   <li> Click &#39;Save.&#39; </li>
	                </ol>
				</div>	
			</section>
			<br/><br/> 
			<a href="#top" role="button" class="top">
			<i class="fas fa-angle-up" aria-hidden="true"></i></a>
			<br/><br/><br/><br/>
		</article>
	</main>
	


<!--=== FOOTER is linked and updated remotely. ===-->
   <a name="related"></a>
   <object data="https://wvholdings.sharepoint.com/rovia/support/SiteAssets/partials/footer.aspx"></object>	
<!--====  End of FOOTER  ===-->



<!--===  JAVASCRIPTS GO HERE  ===-->
<!--=== BOOTSTRAP 4 ===-->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh2U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<!--=== FONT AWESOME  ===-->
<script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>

<!--=== SPACE FOR ADDITIONAL SCRIPTS ===-->
<script>
/* Open the sidenav */
function openNav() {
    document.getElementById("mySidenav").style.width = "100%";
    }

/* Close/hide the sidenav */
function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
}
</script>
<!--===  End of JS  ===-->
	
</body>