
<link rel="stylesheet" type="text/css" href="https://wvholdings.sharepoint.com/rovia/support/SiteAssets/css/style.min.css" />
<style>
    .container {
        position:absolute;
        top: 45px;
        left:0;
        right:0;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <h3 class="text-white">Links</h3>
            <ul class="nav flex-column text-white">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Vendors</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Internal Contacts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link item</a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link" href="#">Link item</a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link" href="#">Link item</a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link" href="#">Link item</a>
                </li>
            </ul>
        </div>
        <!-- /.col-md  -->
        <div class="col-md-3">
            <h3 class="text-white">Member Benefits</h1>
            <ul class="nav flex-column">    
                <li class="nav-item"><a class="nav-link text-r  ovia" href="#">AirMed/Emergency Evacuation</a></li>
                <li class="nav-item"><a class="nav-link" href="#">DreamTrips Concierge</a></li>
                <li class="nav-item"><a class="nav-link" href="#">DreamTrips App</a></li>
                <li class="nav-item"><a class="nav-link" href="#">DreamTrips Local</a></li>
                <li class="nav-item"><a class="nav-link" href="#">DreamTrips Referral Program</a></li>
                <li class="nav-item"><a class="nav-link" href="#">ID Resolution</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Travel Confirmations and Self Service</a></li>
            </ul>
        </div>
        <!-- /.col-md  -->
        <div class="col-md-3">
            <h3 class="text-white">Systems</h3>
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Fortius</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Optimum</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">RBO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Voyager</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Verifi</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Dynamic  CRM</a>
                </li>
            </ul>
        </div>
        <!-- /.col-md  -->
        <div class="col-md-3">
            <h3 class="text-white">Accounting</h3>
            <ul class="nav flex-column text-primary">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Credit Card Refunds</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Rovia Bucks / DTP Credit</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Rovia Bucks / DTP Redemption</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Check Requests</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Wire Transfers</a>
                </li>
            </ul>
        </div>
        <!-- /.col-md  -->
        
    </div>

    </div