<!DOCTYPE html>
<html lang="en">
<!--=============================================================================================================
=            STYLESHEETS            =
===============================================================================================================-->


<head>
<!-- MAIN STYLESHEET - INCLUDE ON EVERY PAGE -->
  <link rel="stylesheet" type="text/css" href="/rovia/support/SiteAssets/css/style.min.css"/> 
  <meta charset="utf-8"/><meta name="viewport" content="width=device-width" initial-scale=1>

<!-- USE THIS FOR ADDITIONAL STYLES (OPTIONAL)-->
<style>

footer a {
  color: #ccc;
}

footer a::after {  
    content: " | ";    
}


footer a:hover {
  color:white;
  text-decoration: none;
}
      
strong {
  color: white;
}      

</style>

</head>  
<body class="bg-dark">

<footer>

     <div class="container">
      <div class="row">
        <div class="col">          
          <strong>DREAMTRIPS:</strong> <br>
          <a href="/rovia/cs/Pages/Support/dt_airport_transfers.aspx" target="_parent">Airport Transfers</a>
          <a href="/rovia/cs/Pages/Sales/dt_new_booking_in_fortius.aspx" target="_parent">Booking DreamTrips in Fortius</a>
          <a href="/rovia/cs/Pages/Support/dt_cancellations.aspx" target="_parent">Cancellations</a>
          <a href="/rovia/cs/Pages/Support/dt_confirmations.aspx" target="_parent">Confirmations and Invoices</a>
          <a href="/rovia/cs/Pages/Support/dt_cruises.aspx" target="_parent">DreamTrip Cruises</a>
          <a href="/worldventures/cs/Pages/CAT-Planner-escalation-process.aspx" target="_parent">DreamTrips Escalation Process (external link)</a>
          <a href="/rovia/cs/Pages/DreamTrips.aspx#FAQs">DreamTrip FAQs</a>
          <a href="/rovia/cs/Pages/Support/dtpp.aspx" target="_parent">DTPP</a>
          <a href="/rovia/cs/Pages/Support/dt_excursions.aspx" target="_parent">Excursions</a>
          <a href="/rovia/cs/Pages/Support/go_guides.aspx" target="_parent">Go Guides</a>
          <a href="/rovia/cs/Pages/Support/hideaways.aspx" target="_parent">Hideaways</a>
          <a href="/rovia/cs/Pages/Support/In_Destination_Gifts.aspx" target="_parent">In-Destination Gifts</a>
          <a href="/rovia/cs/Pages/Support/installment_payments.aspx" target="_parent">Installment Payment Plans</a>
          <a href="/rovia/cs/Pages/Support/locate_dt_in_fortius.aspx" target="_parent">Locating a DreamTrip in Fortius</a>
          <a href="/rovia/cs/Pages/Support/dt_modifications.aspx" target="_parent">Modifications</a>
          <a href="/rovia/cs/Pages/Support/planner_and_ids_support.aspx" target="_parent">Planner/IDS Support</a>
          <a href="/worldventures/cs/Pages/Optimum-%E2%80%93-Customer-Care-Team.aspx" target="_parent">Optimum Portal Access</a>
          <a href="/rovia/cs/Pages/Sales/private_dreamtrips.aspx" target="_parent">Private DreamTrips</a>
          <a href="/rovia/cs/Pages/Support/travelguard.aspx" target="_parent">Purchasing Travel Insurance Through Travelguard</a>
          <a href="/rovia/cs/Pages/Support/dt_cancellations.aspx#Reinstate">Reinstating a Cancelled DreamTrip</a>
          <a href="/rovia/cs/Pages/Support/special_requests.aspx" target="_parent">Special Requests</a>
          <a href="/rovia/cs/Pages/Support/dt_visa_letters.aspx" target="_parent">Visa Letters</a>
          <a href="/rovia/cs/Pages/Support/voluntours.aspx" target="_parent">Voluntours</a>
          <a href="/rovia/cs/Pages/Support/dt_surveys.aspx" target="_parent">Surveys</a>
          <a href="/rovia/cs/Pages/Support/travelguard.aspx" target="_parent">Travel Insurance</a>
        </div>
        <div class="col">
          <strong>DreamTrips: Malaysia:</strong> <br>
          <a href="/rovia/cs/Pages/Sales/welcome_dreamtrips.aspx" target="_parent">Welcome DreamTrips</a>          
          <a href="/rovia/cs/Pages/DT_Malaysia/default.aspx" target="_parent">DreamTrip Processes</a>  
          <a href="/rovia/cs/Pages/DT_Malaysia/MY_call_opener.aspx" target="_parent">Malaysia Call Opener</a>  
          <a href="/rovia/cs/Pages/DT_Malaysia/MY_adding_second_child.aspx" target="_parent">Adding a second child to an existing booking</a>  
          <a href="/rovia/cs/Pages/DT_Malaysia/MY_pre_post_nights.aspx" target="_parent">Adding/Removing Pre/Post Nights</a>  
          <a href="/rovia/cs/Pages/DT_Malaysia/my_adding_removing_rooms.aspx" target="_parent">Adding/Removing Rooms</a>  
          <a href="/rovia/cs/Pages/DT_Malaysia/MY_adding_removing-traveler.aspx" target="_parent">Adding/Removing Travelers</a>  
          <a href="/rovia/cs/Pages/DT_Malaysia/MY_cancellations_and_refunds.aspx" target="_parent">Cancellations/Refunds</a>  
          <a href="/rovia/cs/Pages/DT_Malaysia/MY_DOB_changes.aspx" target="_parent">Date of birth changes</a>  
          <a href="/rovia/cs/Pages/DT_Malaysia/MY_invoice.aspx" target="_parent">Invoice</a>  
          <a href="/rovia/cs/Pages/DT_Malaysia/MY_Manual_credits.aspx" target="_parent">Manual credits</a>  
          <a href="/rovia/cs/Pages/DT_Malaysia/MY_Balance_Due_Collection_Process.aspx" target="_parent">MY Balance Due - Payment collection process</a>  
          <a href="/rovia/cs/Pages/DT_Malaysia/MY_Name_Changes.aspx" target="_parent">Name Changes</a>  
          <a href="/rovia/cs/Pages/DT_Malaysia/MY_New_Bookings.aspx" target="_parent">New booking</a>  
          <a href="/rovia/cs/Pages/DT_Malaysia/MY_Confirmation_Emails.aspx" target="_parent">Sending an updated confirmation email/re-sending the confirmation email</a>  
          <a href="/rovia/cs/Pages/DT_Malaysia/MY_Go_shows.aspx" target="_parent">Go Show policies</a>  
          <a href="/rovia/cs/Pages/DT_Malaysia/MY_Locate_Booking.aspx" target="_parent">Locate Bookings</a>  
          <a href="/worldventures/cs/Pages/MYBalanceDue_Collections.aspx" target="_parent">Collections ​Process</a>  
          <a href="/worldventures/cs/PM%20Travel%20library/Forms/invoicesAllItems.aspx?RootFolder=%2Fworldventures%2Fcs%2FPM%20Travel%20library%2FMY%20invoices%20Ipay88&amp;%3C/a%3EFolderCTID=0x0120007C189D968A834846922822F4ED2212C1&amp;View=%7B697929A3%2D279B%2D4597%2DADEC%2D986D0BEAF7A5%7D">Ipay88 manual</a>  
          <a href="/worldventures/cs/PM%20Travel%20library/MRT%20iPay88%20Merge%20Reports">MRT Refund Reports by date</a>  
          <a href="/worldventures/cs/Pages/MRT-Report.aspx" target="_parent">MRT REPORT - Status Description</a>  
          <a href="/worldventures/cs/Pages/MY_BalanceDueReport.aspx" target="_parent">MY Balance Due Report</a>  
          <a href="/worldventures/cs/_layouts/15/WopiFrame.aspx?sourcedoc=%7B7091649F-728E-4DA4-8703-EC0BD3416F18%7D&amp;file=MY%20Bookings%20not%20captured%20in%20Fortius.xlsx&amp;action=default">MY Fortius bookings not captured</a>  
          <a href="/worldventures/cs/_layouts/15/WopiFrame.aspx?sourcedoc=%7BC80C0BE5-A525-4EAB-BE63-0DA84AC9016B%7D&amp;file=Skyzone%20Booking%20Terms.docx&amp;action=default">SkyZone Booking Terms</a>
        </div> 
        
        <div class="col">          
          <strong>OTA: </strong><br>
          <a href="/rovia/cs/Pages/Hotels.aspx" target="_parent">Hotels</a>  
          <a href="/rovia/cs/Pages/Support/DT_Hotel_Bookings.aspx" target="_parent">DT.com Bookings</a>  
          <a href="/rovia/cs/Pages/Air_Travel.aspx" target="_parent">Flights</a>  
          <a href="/rovia/cs/Pages/Sales/air_reservations.aspx#3">Locating Flights in the RBO</a>  
          <a href="/rovia/cs/Pages/Support/air_service.aspx" target="_parent">E-Ticket Confirmations</a>  
          <a href="/rovia/cs/Pages/Support/air_service.aspx" target="_parent">Seat Assignments</a>  
          <a href="/rovia/cs/Pages/Car_Rentals.aspx" target="_parent">Car Rentals</a>  
          <a href="/rovia/cs/Pages/Sales/car_rentals.aspx" target="_parent">Car Rentals - RBO, Sabre and Ama</a>           
          <strong>Cruises, Groups, Custom Packages:</strong><a href="/rovia/cs/Pages/Cruises.aspx" target="_parent">Cruises</a>  
          <a href="/rovia/cs/Pages/Support/cruise_payments.aspx" target="_parent">Processing Payments</a>  
          <a href="/rovia/cs/Pages/Support/default.aspx#cruiselogins">Cruise Logins</a>  
          <a href="http://goccl.com/">Goccl</a>  
          <a href="https://secure.espresso.cruisingpower.com/">Cruising Power</a>  
          <a href="/rovia/cs/Pages/Cruises.aspx#faqs">Cruise FAQs</a>  
          <a href="/rovia/cs/Pages/Custom_Travel.aspx" target="_parent">Custom Travel</a>  
          <a href="/rovia/cs/Pages/Support/default.aspx" target="_parent">Group Bookings</a>  
          <a href="/rovia/cs/Pages/Support/default.aspx" target="_parent">Vacation Packages</a>  
          <a href="/rovia/cs/Pages/Support/default.aspx" target="_parent">Escorted Tours</a>  
          <a href="/rovia/cs/Pages/Support/default.aspx" target="_parent">Corporate/Employee Travel</a>  
          <a href="/rovia/cs/Pages/Support/default.aspx" target="_parent">Group Cruises</a>  
          <a href="/rovia/cs/Pages/Support/default.aspx" target="_parent">Virtuoso</a><a href="/rovia/cs/Pages/Support/hideaways.aspx" target="_parent">New Bookings: Hideaways</a>  
          <a href="/rovia/cs/Pages/Sales/air_reservations.aspx#Sabre">New Bookings: Sabre</a>  
          <a href="/rovia/cs/Pages/Sales/air_reservations.aspx#Amadeus">New Bookings: Amadeus</a>  
          <a href="/rovia/cs/Pages/Sales/air_reservations.aspx#FAQs">Air Travel FAQs</a>  
          <a href="/rovia/cs/Pages/Sales/car_rentals.aspx" target="_parent">New Bookings: RBO, Sabre, Amadeus</a>
        </div>
        <div class="col">          
          <strong>Custom Travel: </strong><br>
          <a href="/rovia/cs/Pages/Sales/group_hotel_bookings.aspx" target="_parent">Group Hotel Bookings</a>   
          <a href="/rovia/cs/Pages/Sales/vacation_packages.aspx" target="_parent">Vacation Packages</a>  
          <a href="/rovia/cs/Pages/Sales/escorted_tours.aspx" target="_parent">Escorted Tours</a>  
          <a href="/rovia/cs/Pages/Sales/corporate_employee_travel.aspx" target="_parent">Corporate/Employee Travel</a>  
          <a href="/rovia/cs/Pages/Support/hideaways.aspx" target="_parent">New Bookings: Hideaways</a>  
          <a href="/rovia/cs/Pages/Sales/air_reservations.aspx#Sabre">New Bookings: Sabre</a>  
          <a href="/rovia/cs/Pages/Sales/air_reservations.aspx#Amadeus">New Bookings: Amadeus</a>  
          <a href="/rovia/cs/Pages/Sales/air_reservations.aspx#FAQs">Air Travel FAQs</a>  
          <a href="/rovia/cs/Pages/Sales/car_rentals.aspx" target="_parent">New Bookings: RBO, Sabre, Amadeus</a>  
          <a href="/rovia/cs/Pages/Sales/dt_activities.aspx" target="_parent">Activities/Viator Bookings</a>  
          <a href="/rovia/cs/Pages/Sales/group_hotel_bookings.aspx" target="_parent">Group Hotel Bookings</a>  
          <a href="/rovia/cs/Pages/Sales/vacation_packages.aspx" target="_parent">Vacation Packages</a>  
          <a href="/rovia/cs/Pages/Sales/escorted_tours.aspx" target="_parent">Escorted Tours</a>  
          <a href="/rovia/cs/Pages/Sales/corporate_employee_travel.aspx" target="_parent">Corporate/Employee Travel</a><a href="/rovia/cs/Pages/Accounting/3D_Security_Enhancement.aspx" target="_parent">3D Security Enhancements</a>  
          <a href="/rovia/cs/Pages/Accounting/brinkman_payments.aspx" target="_parent">Brinkman Payments</a>  
          <a href="/rovia/cs/Pages/Accounting/csr_tool.aspx" target="_parent">CSR Tool</a>  
          <a href="/rovia/cs/Pages/Accounting/declined_credit_cards_verifi.aspx" target="_parent">Declined Credit CardsDT Installment Notices</a>  
          <a href="/rovia/cs/Pages/Accounting/customer_service_refunds.aspx" target="_parent">Customer Service Refunds</a>  
          <a href="/rovia/cs/Pages/Support/dtpp.aspx" target="_parent">DreamTrip Price Promise</a>  
          <a href="/rovia/cs/Pages/Management/fortius_manual_pricing_adjustments.aspx" target="_parent">Fortius Manual Pricing Adjustments</a>  
          <a href="/rovia/cs/Pages/Management/Fraud_Cancellation_Process.aspx" target="_parent">Fraud Cancellation Process</a>  
          <a href="/rovia/cs/Pages/systems/global_declines_threat_metrix.aspx" target="_parent">Global Declines and ThreatMetrix</a>  
          <a href="/rovia/cs/Pages/Accounting/invoicing_in_clientbase.aspx" target="_parent">Invoicing in ClientBase</a>  
          <a href="/rovia/cs/Pages/Accounting/generating_one_use_cards_oucs.aspx" target="_parent">One Use Cards (OUCs</a>  
          <a href="/rovia/cs/Pages/Accounting/pending_charges.aspx" target="_parent">Pending Credit Card Charges</a>  
          <a href="/rovia/cs/Pages/Management/price_pledge_processes.aspx" target="_parent">Price Pledge Processes</a>  
          <a href="/rovia/cs/Pages/Accounting/RB_Payment_OUCs.aspx" target="_parent">Rovia Bucks Payments</a>  
          <a href="/rovia/cs/Pages/Accounting/Unauthorized_Charges.aspx" target="_parent">Unauthorized Charges</a>  
          <a href="/rovia/cs/Pages/Accounting/verifi.aspx" target="_parent">Verifi</a>
        </div>
        <div class="col">
          <strong>Agent Resources</strong>
          <strong>Accounting Forms: </strong><a href="/rovia/accounting/pages/default.aspx" target="_parent">2017 - Check Requests</a>  
          <a href="/rovia/accounting/pages/default.aspx" target="_parent">2017 - Credit Card Refund Request</a>  
          <a href="/rovia/accounting/pages/default.aspx" target="_parent">2017 - OUC ISSUED</a>  
          <a href="/rovia/accounting/pages/default.aspx" target="_parent">2017 - OUC Request</a>  
          <a href="/rovia/accounting/pages/default.aspx" target="_parent">2017 - Rovia Buck Deductions/Redemptions</a>  
          <a href="/rovia/accounting/pages/default.aspx" target="_parent">2017 - RB/DTP Credits</a>          
          <strong>Management Functions:</strong>
          <a href="/rovia/cs/Pages/Management/Fraud_Cancellation_Process.aspx" target="_parent">Fraud Cancellation Process</a>  
          <a href="/rovia/cs/Pages/Management/fortius_manual_pricing_adjustments.aspx" target="_parent">Fortius Manual Pricing Adjustments</a>  
          <a href="/rovia/cs/Pages/Management/management_signature_process.aspx" target="_parent">Management Signature Process for Refunds</a>  
          <a href="/rovia/cs/Pages/Management/Virtual_Currency_CreditDebit.aspx#Top">Virtual Currency Credit/Debit</a><a href="/worldventures/cs/CRM%20Case%20Dispositions/Forms/AllItems.aspx" target="_parent">CRM Documents</a>  
          <a href="/rovia/cs/Pages/Management/delecting_emails_in_crm.aspx" target="_parent">Deleting Emails in CRM</a>  
          <a href="/rovia/cs/Pages/Management/deleting_sensitive_info.aspx" target="_parent">Deleting Sensitive Info From CRM Emails</a>  
          <a href="/rovia/cs/Pages/Management/CRM_Blank_Case_Activity.aspx" target="_parent">CRM Blank Case Activity</a><strong>Price Pledge/DTPP:</strong><a href="/rovia/cs/Pages/Support/dtpp.aspx" target="_parent">DreamTrip Price Promise</a>  
          <a href="/rovia/cs/Pages/Management/price_pledge_processes.aspx" target="_parent">Price Pledge Processes</a>  
          <a href="/rovia/cs/Pages/Management/pricing_errors.aspx" target="_parent">Pricing Errors</a>
          <br><br>
          <strong>CAT Team/Escalations: </strong><a href="/worldventures/cs/Pages/GlobalEscalations.aspx" target="_parent">Global Executive Escalations Process</a>  
          <a href="/rovia/cs/Pages/Management/gm_sales_director_contact_guide.aspx" target="_parent">GM and Sales Director Contact Guide</a>  
          <a href="/rovia/cs/Pages/Management/management_escalations.aspx" target="_parent">Management Escalations</a>  
          <a href="/worldventures/cs/Pages/ModifiedDreamTripProcess.aspx" target="_parent">Modified DreamTrip Process</a>  
          <a href="/rovia/cs/Pages/Management/Rovia_Escalate_Triage_Process.aspx" target="_parent">Rovia Escalate Triage Process</a>  
          <a href="/rovia/cs/Pages/Support/post_dreamtrip_complaints.aspx" target="_parent">Post DreamTrip Complaints</a>  
          <a href="/rovia/cs/Pages/Management/rovia_cat_team.aspx" target="_parent">Rovia CAT Team</a>  
          <a href="/rovia/cs/Pages/Management/escalation_empowerment_grid.aspx" target="_parent">Escalation Empowerment Grid</a>
          <br><br>
          <strong>Staffing: </strong>
          <a href="/worldventures/cs/PM%20Travel%20library/IGT%20Sales%20and%20Support%20Team.xlsx">IGT: Sales/Support Roster</a>
          <br><br>
          <strong>Program Management:</strong><a href="/rovia/cs/Rovia%20Program%20Management%20Documents/Forms/AllItems.aspx" target="_parent">Program Management Documents</a><a href="/rovia/cs/Training%20%20QA%20Refresher%20Courses/Forms/AllItems.aspx" target="_parent">Refresher Courses</a>  
          <a href="/rovia/cs/Training%20%20QA%20Quiz%20Bank/Forms/AllItems.aspx" target="_parent">Quiz Bank</a>
          <br><br>
          <strong>QA Documents: </strong><a href="/rovia/cs/Training%20%20QA%20Calibration%20Sessions/Forms/AllItems.aspx" target="_parent">Calibration Sessions</a>  
          <a href="/rovia/cs/Training%20%20QA%20Agent%20Scoresheets/Forms/AllItems.aspx" target="_parent">Scorecards</a><br>
          <strong>CSR Resources: </strong><a href="/rovia/cs/Pages/training_and_qa/Revised%20QA%20Sales%20and%20Support%20Form%206_26_17.xlsx?d=w8612f0d3bd8c4203af628159257cde1a">QA Cheat Sheet</a>  
          <a href="/rovia/cs/Lists/Calendar/calendar.aspx" target="_parent">Training Calendar</a><a href="/rovia/cs/Training%20%20QA%20Job%20Aids/Forms/AllItems.aspx" target="_parent">Job Aids</a><strong>Processes: </strong><a href="/worldventures/cs/_layouts/15/WopiFrame.aspx?sourcedoc=%7BC58047F1-437A-49B0-87A2-C941A0FC815A%7D&amp;file=InContact%20Reference%20Guide.docx&amp;action=default">In Contact</a>  
          <a href="/worldventures/cs/Pages/CRM(Email).aspx" target="_parent">CRM Emails</a>
        </div>
      </div>
</div>

</footer>
      
    
    <script>
      $(document).ready(function () {
    if(window.location.href.indexOf("support") > -1) {
       console.log("your url contains the name franky");
    }
});
    </script>
    <script>
      function changeCSS(cssFile, cssLinkIndex) {

    var oldlink = document.getElementsByTagName("link").item(cssLinkIndex);

    var newlink = document.createElement("link");
    newlink.setAttribute("rel", "stylesheet");
    newlink.setAttribute("type", "text/css");
    newlink.setAttribute("href", "service.css");

    document.getElementsByTagName("head").item(0).replaceChild(newlink, oldlink);
}
    </script>
</body>


    

