<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/rovia/support/SiteAssets/css/style.min.css"/> 

<style>
@media (max-width: 1100px) {
    .container {
        display:none;
    }
}


body {
    background: rgba(0, 0, 0, 0.6);
}

</style>
</head>
<body class="" id="innerNav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"><i class="fas fa-bookmark text-primary"></i></a>
        <div class="container">
      
        <div class="row">                                    
            <div class="col">
                <h5 class="text-danger"><i class="far fa-newspaper mr-2"></i>Latest</h5>
                <ul class="list-unstyled">
                    <li><a target="_parent" href="#">Newsfeed</a></li>
                    <li><a target="_parent" href="#">Screamin' Deals</a></li>
                    <li><a target="_parent" href="#">Mega Rockstar Addons</a></li>
                    <li><a target="_parent" href="#">DreawmTrip Rewards</a></li>
                    <li><a target="_parent" href="#">link</a></li>
                </ul>     
            </div>                                   
            <div class="col">
                <h5 class="text-rovia"><i class="fas fa-users mr-2"></i>Member Benefits</h5>                                    
                <ul class="list-unstyled text-white">
                    <li><a target="_parent" href="/worldventures/cs/Pages/AirMed.aspx" target="_blank">AirMed</a></li>                                            
                    <li><a target="_parent" href="/worldventures/cs/Pages/DreamBreaks-Trip.aspx" target="_blank">DreamBreaks Program</a></li>
                    <li><a target="_parent" href="/worldventures/cs/Pages/MobileApp.aspx" target="blank">DreamTrips App</a></li>
                    <li><a target="_parent" href="/worldventures/cs/Pages/DTL.aspx" target="blank">DreamTrips Local</a></li>
                    <li><a target="_parent" href="/worldventures/cs/Pages/DTRewards.aspx" target="blank">DreamTrips Rewards Program</a></li>                                          
                    <li><a target="_parent" href="/worldventures/cs/Pages/MBR_Benefit_FlightAccidentInsurance.aspx" target="blank">Flight Accident Insurance</a></li>
                    <li><a target="_parent" href="/worldventures/cs/Pages/RoadsideProtect.aspx" target="blank">Roadside Protect</a></li>
                    <li><a target="_parent" href="/rovia/cs/Pages/Rovia_Price_Pledge.aspx" target="blank">Rovia Price Pledge</a></li></ul>
                                                                
                </ul>
            </div>
            <div class="col">
                <h5 class="text-success"><i class="far fa-money-bill-alt mr-2"></i>Accounting</h5>
                <ul class="list-unstyled">
                    <li><a target="_parent" href="/rovia/accounting/Lists/2017%20%20Check%20Requests/Check%20Request.aspx" target="blank">2017 - Check Requests</a></li> 
                    <li><a target="_parent" href="/rovia/accounting/Lists/2017Credit%20Card%20Refund%20Request/AllItems.aspx" target="blank">2017 - Credit Card Refund Request</a></li> 
                    <li><a target="_parent" href="/rovia/accounting/Lists/2017%20%20One%20Use%20Card%20ISSUED/AllItems.aspx" target="blank">2017 - OUC ISSUED</a></li> 
                    <li><a target="_parent" href="/rovia/accounting/Lists/2017%20%20One%20Use%20Card%20Request/Credit%20Card%20Use.aspx" target="blank"> 2017 - OUC Request</a></li> 
                    <li><a target="_parent" href="/rovia/accounting/Lists/2017Rbuck%20DeductionsRedemptions/Call%20center%20default.aspx" target="blank"> 2017 - Rovia Buck Deductions/Redemptions</a></li> 
                    <li><a target="_parent" href="/rovia/accounting/Lists/2017%20%20RBuckDTPoint%20Credits/AllItems.aspx" target="blank"> 2017 - RB/DTP Credits</a></li> 
                    
                </ul>
            </div>
            <div class="col">
                <h5 class="text-info"><i class="fas fa-cogs mr-2"></i>Systems</h5>
                <ul class="list-unstyled">
                    <li><a target="_parent" href="https://wvholdings-prod.crm.dynamics.com/nga/engagementhub.aspx?org=orga7a37532&server=https%3a%2f%2fwvholdings-prod.crm.dynamics.com">CRM</a></li>
                    <li><a target="_parent" href="http://exigo.com/">Exigo</a></li>
                    <li><a target="_parent" href="https://www.formstack.com/admin/user/login?redirect=/account/dashboard">Formstack</a></li>
                    <li><a target="_parent" href="https://portal.optimumhq.com/login.jsp">Optimum</a></li>
                    <li><a target="_parent" href="https://secure.verifi.com/merchants/login.php?cookie_check=1&referrer=%2Fmerchants%2Freports.php%3Ftid%3D226ed1e13492179ae2ce210e56d2414e&qed=f2f290b84da6cd93818ce5698c94c95b32181b814b0c6a86d907b1406f3bf4c5&auth_error=0">Verifi</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            
            <div class="col">
                <h5 class="text-sales"><i class="fas fa-shopping-cart mr-2"></i>Sales</h5>
                <ul class="list-unstyled">
                    <li><a href="#" target="_parent">Group Hotel Bookings</a></li>
                    <li><a href="#" target="_parent">Vacation Packages</a></li>
                    <li><a href="#" target="_parent">Escorted Tours</a></li>
                    <li><a href="#" target="_parent">Corporate/Employee Travel</a></li>
                    <li><a href="#" target="_parent">Group Cruises Quote Request</a></li>
                    <li><a href="#" target="_parent">more...</a></li>
                    

                </ul>
            </div>
            <div class="col">
                <h5 class="text-service"><i class="fas fa-handshake mr-2"></i>Service</h5>
                <ul class="list-unstyled">                                        
                    <li><a target="_parent" href="https://wvholdings.sharepoint.com/rovia/support/service/Pages/home.aspxOTA Bookings">OTA Bookings</a></li>
                    <li><a target="_parent" href="https://wvholdings.sharepoint.com/rovia/support/service/Pages/airport-transfers.aspx">Airport Transfers</a></li>
                    <li><a target="_parent" href="#">Mega Rockstar Trips #1-#2: Cancun</a></li>
                    <li><a target="_parent" href="Mega Rockstar Overview">DreamTrip FAQs</a></li>
                    <li><a target="_parent" href="#">Price Pledge, Price Promise</a></li>
                    <li><a href="#" target="_parent">more...</a></li>
                    
                </ul>
            </div>
            <div class="col">
                <h5 class="text-air"><i class="fas fa-paper-plane mr-2"></i>Air Ticketing</h5>
                <ul class="list-unstyled">
                    <li><a href="# tareget="_parent">Amadeus</a></li>
                    <li><a href="# tareget="_parent">Sabre</a></li>
                    <li><a href="# tareget="_parent">CRM Queues</a></li>
                    <li><a href="# tareget="_parent">Policies</a></li>
                    <li><a href="# tareget="_parent">Airline Policies</a></li>
                    <li><a href="# tareget="_parent">Fraud Prevention</a></li>
                    <li><a href="# tareget="_parent">IT Support</a></li>
                    <li><a href="# tareget="_parent">American Airlines Agent Site </a></li>
                    <li><a href="#" target="_parent">more...</a></li>                
                </ul>
            </div>
            <div class="col">
                <h5 class="text-white"><i class="fas fa-paper-plane mr-2"></i>Management</h5>
                <ul class="list-unstyled">
                    <li><a href="#" target="_parent">Global Executive Escalations Process</a></li>
                    <li><a href="#" target="_parent">GM and Sales Director Contact Guide</a></li>
                    <li><a href="#" target="_parent">Escalation Empowerment Grid</a></li>
                    <li><a href="#" target="_parent">Management Escalations</a></li>
                    <li><a href="#" target="_parent">Modified DreamTrip Process</a></li>
                    <li><a href="#" target="_parent">Program Managmenet Documents</a></li>
                    <li><a href="#" target="_parent">Pricing Errors</a></li>
                    
                </ul>
            </div>
        </div>
    </div>   






<!--===  JAVASCRIPTS GO HERE  ===-->
<!--=== BOOTSTRAP 4 ===-->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<!--=== FONT AWESOME  ===-->
<script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>

<!--=== SPACE FOR ADDITIONAL SCRIPTS ===-->
<script>
/* Open the sidenav */
function openNav() {
    document.getElementById("mySidenav").style.width = "100%";
}

/* Close/hide the sidenav */
function closeNav() {    
    parent.document.getElementById("mySidenav").style.width = "0";
}
</script>

<!--====  End of JS  ====-->
</body>
     

</html>

