//CUSTOM COLORS:
$rovia-blue: #0072C6;
$service-teal: #00aba9;
$air-sky: #63a1ce;
$sales-pink: #FF0097;
$sales-purple: #FF0097;
$sharepoint-burnt-sienna: #272727;

$theme-color: $sales-pink !default;
$theme-colors: ("primary": $sales-pink) !default;







